<div class="container">

        <div class="section scrollspy" id="work">
            <div class="ts-container">
                <div class="container" id="ts-content">
                    <div class="outer-outlet">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>

</div>
