<div class="ts-header-user">
    <div class="row">
        <div class="col s12 m5 l6">
            <div class="logo">
                <p>austenlang</p>
            </div>
            <p class="forGV">powered by Exadel</p>
        </div>
        <div class="col s3 m2 l1" *ngIf="showCountdown">
            <div class="timer">
                <div class="timer-test">
                    <h2>time left</h2>
                    <p id="lazy">{{time}}</p>
                </div>
            </div>
        </div>
        <div div class="col s9 m3 l4">
            <ul class="right-menu">
                <li>{{user.firstName}} {{user.lastName}}</li>
                <li>{{user.mail}}</li>
                <li><a href="" (click)="logout()"><i class="material-icons">power_settings_new</i></a></li>
            </ul>
        </div>
        <div class="col s3 m2 l1">
            <div class="userphoto">
                <img src="../../../../{{user.photo}}" width="80" height="80" alt="userphoto">
            </div>
        </div>
    </div>
</div>