<form>
    <div *ngFor="let question of speakingTask; let i = index, let j = index" class="app">
        <content class="content-wrapper">
            <div class="content">
                <content class="quiz-content-wrapper">
                    <div class="quiz-content">
                        <div class="quiz-question-content-wrapper">
                            <h1 class="quiz-question-title sans">{{question.question}}</h1>
                            <form class="quiz-answers">
                                <div class="quiz-answer tsY-quiz-audio-btn">
                                    <div class="quiz-answer-pip">
                                        <div class="check-answer">
                                            <audio id="{{i}}" src="http://localhost:8083//listening//questions//{{question.answer}}"></audio>
                                            <button id="play" (click)="playQuestion(i)"
                                                    [ngClass]="{playBtn: isPlay[i]}">
                                                <i class="medium material-icons">play_circle_outline</i></button>
                                            <button id="stop" (click)="playQuestion(i)"
                                                    [ngClass]="{playBtn: !isPlay[i]}">
                                                <i class="medium material-icons">pause_circle_outline</i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <input required [(ngModel)]="speakingAnswers[i].cost" id="mark" type="text" class="validate">
                        </div>
                    </div>
                </content>
            </div>
        </content>
    </div>
    <button type="button" class="quiz-submit-btn-teacher" (click)="nextCheck()">Submit</button>
</form>