.bagkround-start-page {
    position: fixed;
    min-width: 100% !important;
    min-height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./img/font3.jpg') no-repeat center center fixed;
}

.ts-authorization {
    font-family: "Trajan Pro";
    text-align: center;
    color: #999999;
    position: fixed;
    width: 35%;
    height: 60%;
    left: 32%;
    top: 20%;;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    z-index: 2000;
    opacity: 0.95;
}

.ts-authorization h1 {
    font-size: 250%;
    color: #999999;
    margin-top: 10%;
}

.ts-authorization div {
    width: 100%;
}

.start-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2000;
}

.start-btn {
    position: relative;
    width: 94%;
    background-color: #364250;
}

.start-btn:hover {
    background-color: #697e91;
}

/*Authorization*/

.bagkround-start-page {
    position: fixed;
    min-width: 100% !important;
    min-height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./img/font3.jpg') no-repeat center center fixed;
}

.start-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2000;
}

/*ts-user-start-page*/
.ts-header-user {
    /*position: absolute;*/
    /*top: 0;*/
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
}

.right-menu {
    /*position: absolute;*/
    /*top: 5%;*/
    /*right: 10%;*/
    text-align: right;
}

.right-menu li {
    color: #888;
    list-style-type: none;
    font-family: "TrajanPro";
    text-transform: uppercase;
    margin-top: 6px;
}

.userphoto img {
    /*position: absolute;*/
    /*top: 2%;*/
    /*right: 2%;*/
    border-radius: 50%;
    border: 1px solid #999;
}

.logo p {
    position: relative;
    left: 12%;
    top: 16px;
    font-family: "TrajanPro";
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #999;
    margin: 0;
    width: 80%;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap;
}

.right-menu li a {
    color: black;
}

.right-menu li a:hover {
    text-decoration: none;
    font-size: 22px;
}

.ts-user-startpage {
    position: absolute;
    left: -0;
    top: -20%;
    width: 100%;
    height: 120%;
}

.ts-user-start button {
    position: relative;
    background-color: rgba(0, 0, 0, .3);
    border: 1px solid white;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 40px;
    font-family: "TrajanPro";
    font-weight: none;
    margin: auto;
    width: 100%;
    margin-top: 20px;
    letter-spacing: 1.9px;

}

.ts-user-start {
    width: 250px;
    margin: auto;
    margin-top: 20px;
}

.btn-statistics {
    width: 300px;
    margin: auto;
    margin-top: 20px;
}

.btn-statistics input {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: black;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
    font-family: "TrajanPro";
    font-weight: bold;
    margin: auto;
    width: 100%;

}

input:hover {
    background-color: rgba(255, 255, 255, 0.7);
}


html * {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: 'PF Regal Text Pro', Georgia, 'Times New Roman', Times, serif;
}

.sans {
    font-family: 'Proxima Nova', sans-serif
}

.text-center {
    text-align: center;
}


.app {
    display: flex;
    flex-direction: column;
    min-height: 40vh;
}

.content-wrapper {
    display: flex;
    flex: 1 0 auto;
    width: 70%;
    margin-left: 15%;
    /* occupy all space possible beetwen header and footer*/
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 15px 0;
    background-color: white;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.quiz-header {
    position: relative;
    /* need this to absolutely place close-icon inside cont. */
    min-height: 60px;
    line-height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.quiz-content-wrapper {
    flex: 1;
}

.quiz-header-title {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.close-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url('./cross.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px
}

.quiz-header > .close-icon {
    position: absolute;
    top: 12px;
    right: 24px;
}

.quiz-content {
    max-width: 610px;
    padding: 20px 0;
    margin: auto;
}

.quiz-question-num-container {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 12px
}

.quiz-question-num {
    text-align: center;
    font-size: 1.7rem;
    text-align: center;
    color: #999999;
    font-family: Trojan Pro;
}

.quiz-question-content-wrapper > * {
    font-size: 1.1rem;
    color:#999999;
    margin-top: 6px;
}

.quiz-question-img-wrapper,
.quiz-question-img-wrapper > img {
    width: 100%
}

.quiz-question-img-caption {
    text-align: right;
    font-size: 12px;
    line-height: 14px;
    color: #999;
    margin-top: 6px;
}

.quiz-question-title {
    font-size: 1.7rem;
    line-height: 25px;
    margin-top: 16px;
    color: #999999;
    font-family: "Trojan Pro";
    margin-left: 10px;
}


.quiz-answers {
    margin-top: 16px;
    font-family: "Trajan Pro";
}

.quiz-answer {
    display: block;
    padding: 15px;
    border-top: 1px solid #e6e6e6;
    white-space: nowrap;
}

.quiz-answer:last-child {
    /*height: 15%;*/
    border-bottom: 1px solid #e6e6e6
}

.quiz-answer-pip {
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
}

.quiz-answer-pip > input {
    position: relative;
    top: 4px;
}

.quiz-answer-text {
    flex: 2 1 auto;
    font-size: 20px;
    font-weight: 500;
    color: #404040
}

.quiz-answer p {
    /*white-space: pre-line;*/
    color: black;
}

.quiz-answers-footer {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.quiz-record-btn {
    cursor: pointer;
    /* outline: none; */
    /* font-family: 'Proxima Nova', sans-serif; */
    /* background: #b88b58; */
    /* border-radius: 4px; */
    /* font-weight: 600; */
    /* font-size: 14px; */
    /* color: #fff; */
    /* line-height: 17px; */
    border-radius: 30%;
    /* padding: 8px 12px 7px; */
    width: 7%;
    height: 7%;
    margin-left: 20px;

}

.quiz-submit-btn-teacher {
    cursor: pointer;
    outline: none;
    font-family: 'Proxima Nova', sans-serif;
    background: #20B2AA;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    line-height: 17px;
    border: none;
    padding: 8px 12px 7px;
    position: relative;
    left: 78%;
}

.quiz-submit-btn {
    cursor: pointer;
    outline: none;
    font-family: 'Proxima Nova', sans-serif;
    background: #20B2AA;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    line-height: 17px;
    border: none;
    padding: 8px 12px 7px;
    position: relative;
}

.card-small {
    width: 400px;
}

/************************
Css orignal http://codepen.io/jlalovi/details/bIyAr
************************/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1 {
    font-size: 23px;
}

h2 {
    font-size: 17px;
}

p {
    font-size: 15px;
}

a {
    text-decoration: none;
    font-size: 15px;
}

a:hover {
    text-decoration: none;
}

/*h1, h2, p, span {*/
/*color: #fff;*/
/*}*/

.scnd-font-color {
    color: #9099b7;
}

.titular {
    display: block;
    line-height: 60px;
    margin: 0;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.horizontal-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.horizontal-list li {
    float: left;
}

.block {
    margin: 25px 25px 0 0;
    background: #394264;
    border-radius: 5px;
    float: left;
    width: 300px;
    overflow: hidden;
}

/******************************************** LEFT CONTAINER *****************************************/
.left-container {
}

.menu-box {
    height: 360px;
}

.donut-chart-block {
    overflow: hidden;
}

.donut-chart-block .titular {
    padding: 10px 0;
}

.os-percentages li {
    width: 75px;
    border-left: 1px solid #394264;
    text-align: center;
    background: #50597b;
}

.os {
    margin: 0;
    padding: 10px 0 5px;
    font-size: 15px;
}

.os.ios {
    border-top: 4px solid #e64c65;
}

.os.mac {
    border-top: 4px solid #11a8ab;
}

.os.linux {
    border-top: 4px solid #fcb150;
}

.os.win {
    border-top: 4px solid #4fc4f6;
}

.os-percentage {
    margin: 0;
    padding: 0 0 15px 10px;
    font-size: 25px;
}

.line-chart-block, .bar-chart-block {
    height: 400px;
}

.line-chart {
    height: 200px;
    background: #11a8ab;
}

.time-lenght {
    padding-top: 22px;
    padding-left: 38px;
    overflow: hidden;
}

.time-lenght-btn {
    display: block;
    width: 70px;
    line-height: 32px;
    background: #50597b;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    margin-right: 5px;
    -webkit-transition: background .3s;
    transition: background .3s;
}

.time-lenght-btn:hover {
    text-decoration: none;
    background: #e64c65;
}

.month-data {
    padding-top: 28px;
}

.month-data p {
    display: inline-block;
    margin: 0;
    padding: 0 25px 15px;
    font-size: 16px;
}

.month-data p:last-child {
    padding: 0 25px;
    float: right;
    font-size: 15px;
}

.increment {
    color: #e64c65;
}

.play-audio {
    width: 10%;
    position: absolute;
    top: 40%;
    left: 20%;
}

.check-answer {
    color: black;
}

#mark {
    width: 50px;
    float: right;
    margin-right: 10px;
}

.read-text {
    color: black;
}

.tsCompletePart img {
    -webkit-filter: grayscale(100%) blur(5px);
}

.tsCompletePart a {
    text-decoration: line-through;
}

.completed {
    text-decoration: line-through;
}

@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400);

* {
    box-sizing: border-box;
}

html {
    background: #111 url(http://codepen.io/images/classy_fabric.png);
    /*color: #fff;*/
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.timer-group {
    margin: 0 auto;
    position: relative;
}

.face {
    background: rgba(0, 0, 0, .3);
    border-radius: 50%;
    height: 240px;
    padding: 165px 40px 0;
    position: relative;
    width: 240px;
    text-align: center;
    margin: auto;
}

.face h2 {
    font-weight: 300;
    font-family: "Trajan Pro";

}

.face p {
    border-radius: 20px;
    font-size: 76px;
    font-weight: 400;
    font-family: "Trajan Pro";
    position: absolute;
    top: 25%;
    width: 260px;
    left: -5%;
}

#teacher-notify {
    margin-left: 30%;
}

#teacher-notify .row {
    cursor: pointer;
}

.timer-test {
    height: 60px;
    width: 240px;
}

.timer-test h2 {
    font-weight: 300;
    font-family: "Trajan Pro";
    color: #999;

}

.timer-test p {
    border-radius: 20px;
    font-size: 30px;
    font-weight: 400;
    font-family: "Trajan Pro";
    color: #999;
}

.userphoto {
    margin-top: 2.5px;
}

@media only screen and (max-width: 992px) {
    .logo p {
        font-size: 28px;
    }
}

@media only screen and (max-width: 600px) {
    .userphoto img {
        height: 70px;
        width: 70px;
    }
}

@media only screen and (max-width: 992px) {
    .timer-test p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 992px) {
    .right-menu li {
        font-size: 10px;
    }
}

.user-home-content {
    margin: 0 auto;
}

.row .col .card {
    margin-left: 5px;
    margin-right: 5px;
}

.left-time-days {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 5px solid;
    border-color: rgba(0, 0, 0, .2);
    align-items: center;
    margin: auto;
    background-color: rgba(0, 0, 0, .3);
}

#leftDays, #leftHours, #leftMinutes {
    font-size: 140px;
    text-align: center;
    font-family: "Trajan Pro";
}

.leftDays, .leftHours, .leftMinutes {
    position: relative;
    top: -15%;
    left: 35%;
    font-size: 25px;
    font-family: "Trajan Pro";
}

.leftHours {
    left: 32%;
}

.leftMinutes {
    left: 27%;
}

#teacher-notify .row {
    margin-top: 4px;
    margin-bottom: 4px;
}

#ts-teacher-notify .ts-footer {
    position: relative;
    top: 100%;
}

#teacher-notify:after {
    display: block;

}

ts-teacher-notify #ts-content {
    background-color: transparent;
}

.date-notify {
    margin-left: 20px;
}

.notify-right-arrow {
    font-size: 30px;
    margin-left: 30px;
    position: relative;
    /* float: right; */
    top: 6px;
}

.username {
    font-size: 16px;
}

.email {
    font-size: 12px;
    text-decoration: underline;
}

.user-btn .quiz-submit-btn {
    left: 0;
}

.quiz-answer-pip {
    width: 100%;
}

.quiz-answer-pip label {
    font-family: "Trojan Pro";
    width: 100%;
}

h1.quiz-header-title {
    font-family: Trojan Pro;
    color: #999999;
    font-size: 1.2em;
    padding: 17px;
}

.tsY-open-question {
    color: black;
}

.errMessage {
    color: red;
}

.play-button {
    height: 40px;
    width: 40px;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    transition: all .2s ease;
    background-color: #20B2AA;
    margin: auto;
}

.play-button:hover {
    background-color: rgba(255, 255, 255, 1);
    transition: all .2s ease;
    border-color: #20B2AA;
}

.play-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 8.5px;
    left: 13px;
    margin: 0;
    border-style: solid;
    border-width: 10px 0px 10px 16px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
    transition: all .2s ease;
    parent transparent rgba(255, 255, 255, 1);
    transition: all .2s ease;
}

.play-button:hover:after {
    border-color: transparent transparent transparent rgba(0, 0, 0, 1);
    transition: all .2s ease;
}

.tsY-button-passed {
    width: 20%;
    height: 5%;
    margin-left: 40%;
    font-family: 'Proxima Nova', sans-serif;
    background: #20B2AA;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    line-height: 17px;
    border: none;
    padding: 8px 12px 7px;
}

.ts-table {
    font-family: Trajan Pro;
    border-collapse: collapse;
    background-color: white;
    margin-top: 20px;
}

td {
    padding: 0 5px;
    border: 0.5px solid white;
    text-align: center;
}

.ts-th {
    color: #999999;
    font-weight: normal;
    font-size: small;
}

th {
    border: 0.5px solid white;
    background-color: white;
    color: #999999;
    padding: 0 5px;
    text-align: center;
    font-size: larger;
}

.ts-table {
    /*width: 62%;*/
    width: 120%;
    display: table;
    height: 26.5%;
    overflow-y: auto;
    position: relative;
    bottom: 8px;
}

/*Spinner*/

.ts-spinner {

    background: url("img/font3.jpg") no-repeat center center fixed;
    opacity: 1;
    min-width: 100%;
    min-height: 100%;
    padding-top: 23%;
}

.textOnSpinner {
    font-family: "Trajan Pro";
    font-weight: bold;
    font-size: 400%;
    color: white;
    opacity: 1;
    -webkit-animation-name: example;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes example {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

/*Spinner end*/

/*Progress Bar*/
.Progress-label {
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    display: block;
}

.Progress-main {
    background-color: red;
    display: block;
    width: 60%;
    height: 0.3em;
    margin-top: 0.75em;
    margin: auto;
}

.Progress-main::-moz-progress-bar {
    background: #17BAB3;
}

.Progress-main::-webkit-progress-bar {
    background: #F2F2F2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
}

.Progress-main::-webkit-progress-value {
    background: #17BAB3;
}

.Progress-main::-ms-fill {
    background: #17BAB3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
}

.Progress-bar {
    margin-top: 0.95em;
    background-color: #F2F2F2;
    height: 0.3em;
}

.Progress-value {
    background-color: #17BAB3;
    display: block;
    height: 0.3em;
}

.quiz-header .progress {
    background-color: transparent;
}

/*Progress Bar ends*/

.bubbleChart {
    height: 350px;
}

.fucking-btn {
    margin-top: 20px;
}

/*User Statistics*/
.user-test-statistics {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: auto;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    height: 45px;
    border-radius: 2px;

}

.user-test-statistics:hover {
    background-color: #20B2AA;
    cursor: pointer;

}

.user-test-statistics:focus span {
    color: white;
}

.user-test-statistics:hover span {
    color: white;
}

.user-test-statistics span {
    font-size: 15px;
    color: #20B2AA;
    float: left;
    padding-left: 50px;
    padding-top: 13px;
}

.user-test-statistics img {
    margin-left: 100px;
}

.user-test-statistics-disabled img {
    margin-left: 100px;
}

.user-test-statistics-disabled {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: auto;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    height: 45px;
    border-radius: 2px;
    pointer-events: none;
}

.user-test-statistics-disabled span {
    font-size: 15px;
    color: #20B2AA;
    float: left;
    padding-left: 50px;
    padding-top: 13px;
}

.checkPart .user-test-statistics {
    background-color: #20B2AA;
}

.checkPart .user-test-statistics span {
    color: white;
}

/*User Statistics end*/

/**/

.ts-user-tests-tool {
    border-bottom: 0 !important;
}

.ts-user-tests-tool .textOnMessage {
    width: 50%;
}

.ts-user-tests-tool:hover .ts-tool-text {
    visibility: visible;
    height: 20px;
    color: white;
}

.ts-user-tests-tool:hover .ts-tool-text1 {
    visibility: visible;
    height: 20px;
    color: white;
}

.ts-user-tests-tool img {
    width: 8% !important;
    float: right;
    position: relative;
    bottom: 18px;
    border-bottom: 0;
}

.tooltip {
    display: inline;
    position: relative;
    border-bottom: 0.5px dotted black;
    z-index: 3000;
}

.ts-tool-text1 {
    visibility: hidden;
    width: 89px;
    height: 0px;
    font-size: 80%;
    background-color: #999999;
    color: transparent;
    text-align: center;
    border-radius: 4px;
    padding-top: 5px;
    position: absolute;
    top: 10px;
    left: 160px;
    transition: height 0.3s, color 0.3s;
}

.ts-user-tests-tool:hover .ts-tool-text1 {
    visibility: visible;
    height: 20px;
    color: white;
}

.card-panel {
    padding: 20px;
}

.ts-user-tests-list {
    width: 90%;
    overflow: hidden;
}

span {
    margin-left: 0px;
}

.textOnMessage span {
    margin-left: 0;
    font-size: 16px;
}

#ts-myMessage {
    width: 90%;
    height: 10%;
    margin-bottom: 40px;
    margin-left: 10px;
}

.tsY-scroll-hidden {
    width: calc(100% + 30px);
    height: 32%;
    overflow-y: auto;
    overflow-x: hidden;
}

.tsY-myMessage {
    position: relative;
    /*z-index: 50000;*/
}

.checkTest {
    background-color: #dcdcdc;
}

.textOnMessage img {
    visibility: hidden;
    float: right;
    width: 4%;
    padding-left: 2.5%;
    margin-top: 1%;
    opacity: 0.5;
}

.ts-user-detail-card {
    width: 84%;
    margin-left: 10px !important;
    margin-bottom: 40px;
}

#mistake-card {
    /*padding: 72px;*/
    font-family: "Trajan Pro";
    color: #999999;
    min-height: 45%;
    background-color: white;
}

.textOnMessage a {
    text-decoration: none;
    /*color: #0000AA;*/
}

#mistake-card a {
    text-decoration: underline;
    color: #999999;
    font-size: initial
}


.timeleft p {
    color: white;
}

.playBtn {
    display: none;
}

.sound-task {
    width: 50%;
    float: right;
    left: -175px;
    position: relative;
    font-size: x-large;
    font-family: Trojan Pro;
    text-align: center;
    color: #999999;
}

.forGV {
    position: relative;
    top: 19px;
    position: relative;
    top: 5px;
    left: 280px;
    font-size: small;
    font-family: Trojan Pro;
    color: #999999;
}

.tsR {
    color: red;
}

.tsO {
    color: orange;
}

.tsG {
    color: green;
}

#stop {
    border-radius: 50%;
}

#play {
    border-radius: 50%;
}

.ts-teacher-info a{
    color: #00b0ff !important;
}

.tsY-teacher-notify{
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    width: 120%;
}

.tsY-teacher-notify span {
    color: #999999;
    font-family: "Trajan Pro";
    font-size: large;
}

.date-notify{
    font-size: small !important;
}

.notify-right-arrow{
    font-size: x-large !important;
}

.tsY-quiz-audio-btn{
    height: 15%;
}