

.default_color {
    /*background: #fff;*/
    /*background: rgba(255,255,255,0.9);*/
}

.default_color_text {
    color: #2196F3 !important
}

.icon-block {
    padding: 0 15px
}

#intro, #team {
    padding-top: 2rem
}

#index-banner {
    min-height: 632px;
    max-height: 864px;
    position: relative;
    background-color: #2196F3
}

#nav_f {
    box-shadow: none !important;
    -webkit-box-shadow: none !important
}

.text_h {
    padding: 15% 0;
    font-size: 6.0em;
    font-weight: 100;
    color: white;
}

.brand-logo {
    position: absolute;
    color: black;
    display: inline-block;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 7px
}

.text_h2 {
    font-weight: 100;
    margin-bottom: 4%;
    line-height: 4.5rem
}

.span_h2 {
    font-weight: 300;
    color: #2196F3
}

.text_b {
    color: #555;
    font-family: "TrajanPro";
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 50px;
    font-size: 30px;
}

.in {
    font-weight: 400 !important;
    font-style: normal !important
}

.promo
i {
    color: #2196F3;
    font-size: 7rem;
    display: block
}

.card-content
a {
    color: black;
    width: 20%;
    font-size: 25px;

}

.card-content a:hover {
    color: #2196F3;
    cursor: pointer;
}

#work, #team {
    top: 10%;
}

.text_pink {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
}

nav ul
a {
    font-size: 1.2rem;
    color: #999999;
    font-family: "Trajan-Pro";
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px
}

.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden
}

.cd-headline.type .cd-words-wrapper::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite
}

.cd-headline.type .cd-words-wrapper.selected {
    background-color: #FFF
}

.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden
}

.cd-headline.type .cd-words-wrapper.selected
b {
    color: #2196F3
}

.cd-headline.type
b {
    visibility: hidden
}

.cd-headline.type b.is-visible {
    visibility: visible
}

.cd-headline.type
i {
    position: absolute;
    visibility: hidden
}

.cd-headline.type
i.in {
    position: relative;
    visibility: visible
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0
    }
}

@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0
    }
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 1200
}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white
    }
}

input, textarea {
    border-bottom: 1px solid #fff
}

nav a.button-collapse {
    left: -25px;
}

.material-icons {
    color: #999999;
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px
}

.card-avatar
img {
    height: 150px;
    width: 150px;
    border-radius: 75px
}

.card-avatar .card-content {
    text-align: center
}

.card .card-content
p {
    margin: 15px 0px
}

.card-avatar .card-content
i {
    font-size: 1.5rem
}

.card-avatar .card-content .card-title {
    line-height: 30px !important
}

footer.page-footer {
    margin-top: 0px !important
}

#ts-content {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    /* margin-top: 100px; */
    margin-bottom: 0;
    padding: 30px 15px;
    width: 80%;
    min-height: 65%;
}

#userstartpage .ts-footer{
    position: fixed;
    bottom: 0;
    width:100%;
}

.ts-footer {
    background: url('../img/rx-map.jpg') no-repeat center center fixed;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    height: 6.5%;
    width: 100%;
    bottom:0;
    margin-top: 3%;
}

.ts-footer p {
    padding: 0.5%;
    font-family: "Trajan-Pro";
    font-size: 1.2em;
    color: #999999;
}

body {
    background: url('../img/image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    max-width: 100%;
}

/* Modal win for home/users */
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    /*border-radius: 10px;*/
    background: #fff;
    /*background: -moz-linear-gradient(#fff, #999);*/
    /*background: -webkit-linear-gradient(#fff, #999);*/
    /*background: -o-linear-gradient(#fff, #999);*/
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

.user-profile {
    height: 100%;
}

/* Modal win for home/users end */




