<div class="row ts-flex">
    <div class="ts-user-select">
        <div class="col s12 l4">
            <div class="card ts-user-detail-card">
                <div class="card-content" id="mistake-card">
                    <div class="row" class="ts-teacher-info">
                        <div class="card-image waves-effect waves-block waves-light">
                        </div>
                        <p>You score <span class="tsO">{{total}}</span> points</p>
                        <div id="language-assistant"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ts-user-tests-list">
                    <div class="tsY-scroll-hidden">
                        <div *ngFor="let test of testsList; let i = index" (click)="section(i)"
                             class="col s12 m8 offset-m2 l6 offset-l3 tsY-myMessage" id="ts-myMessage">
                            <div class="card-panel z-depth-1" [ngClass]="{checkTest: s==i}">
                                <div class="textOnMessage">
                                    <a href="#"
                                       (click)="onSelectTest(i)"><span>Test {{i + 1}}</span></a>
                                </div>
                                <div class="tooltip ts-user-tests-tool"
                                     *ngIf="i < (testsList.length - 1)">
                                    <img src="../../../../img/agree.png">
                                    <span class="ts-tool-text1">Checked test</span>
                                </div>
                                <div class="tooltip ts-user-tests-tool test-anim-div"
                                     *ngIf="i == (testsList.length - 1)">
                                    <a href="#" class="unchecked">
                                        <img src="../../../../img/12345.png">
                                    </a>
                                    <span class="ts-tool-text1">Unchecked test</span>
                                </div>
                            </div>
                        </div>
                        <div class="my-div"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 l6">

        <div class="row user-statistics-chart">
            <div class="bubbleChart"></div>
        </div>

        <table class="row centered striped responsive-table ts-table">
            <thead>
            <tr>
                <th>Part</th>
                <th colspan="10">Answers</th>
                <th>Mark</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="ts-th">LGT</td>
                <td *ngFor="let item of test.part1"><span *ngIf="item">+</span>
                    <span *ngIf="!item">-</span></td>
                <td>{{ test.marks[0]}}</td>
            </tr>
            <tr>
                <td class="ts-th">Listening</td>
                <td *ngFor="let item of test.part2"><span *ngIf="item">+</span>
                    <span *ngIf="!item">-</span></td>
                <td>{{ test.marks[1]}}</td>
            </tr>
            <tr>
                <td class="ts-th">Reading</td>
                <td *ngFor="let item of test.part2"><span *ngIf="item">+</span>
                    <span *ngIf="!item">-</span></td>
                <td>{{ test.marks[2]}}</td>
            </tr>
            <tr>
                <td class="ts-th">Speaking</td>
                <td *ngFor="let item of test.part4"><span *ngIf="item == 0"></span>
                    <span *ngIf="item">+</span>
                    <span *ngIf="!item == undefined">-</span></td>
                <td>{{test.marks[3]}}</td>
            </tr>
            </tbody>
        </table>



    </div>
</div>


