<div class="app">
    <content class="content-wrapper">
        <div class="content">
            <header class="quiz-header">
                <div class="Progress">
                    <progress max="{{size}}" value="{{counter}}" class="Progress-main" aria-labelledby="Progress-id">
                    </progress>
                </div><!--Progress-->
                <h1 class="quiz-header-title"><strong class="sans"></strong>{{question.title}} </h1>
            </header>
            <content class="quiz-content-wrapper">
                <div class="quiz-content">
                    <div class="quiz-question-num-container">
                    </div>
                    <div class="quiz-question-content-wrapper">
                        <h1 class="quiz-question-title sans">{{question.description}}</h1>

                        <form class="quiz-answers">
                            <!--*ngIf="!question.questionType"-->
                            <div>
                                    <div *ngFor="let variant of question.answersId; let i = index"
                                         class="quiz-answer">
                                        <div class="quiz-answer-pip">
                                            <p>
                                                <input #form name="answers"
                                                       type="radio" (click)="answer.answer = variant"
                                                       id={{i}}{{question.questionId}}
                                                       [checked]="answer.answer === variant"
                                                />
                                                <label attr.for={{i}}{{question.questionId}}>{{variant}}</label>
                                            </p>
                                        </div>
                                    </div>
                            </div>
                            <div class="quiz-answers-footer">
                                <button type="button"  class="quiz-submit-btn  waves-effect waves-light"
                                        (click)="nextChapter(question.questionId)">Next question</button>
                            </div>
                        </form>
                    </div>
                </div>
            </content>
        </div>
    </content>
</div>