<!--<div class="app">-->
    <!--<content class="content-wrapper">-->
        <!--<div class="content">-->
            <!--<header class="quiz-header">-->
                <!--<h1 class="quiz-header-title"> <strong class="sans">{{listeningTask.textTitle}}</strong></h1>-->
            <!--</header>-->

            <!--<content class="quiz-content-wrapper">-->
                <!--<div class="quiz-content">-->
                    <!--<div class="quiz-question-num-container">-->
                        <!--<p class="quiz-question-num">{{listeningTask.text}}</p>-->
                    <!--</div>-->
                    <!--<div  class="quiz-question-content-wrapper">-->
                        <!--<form class="quiz-answers">-->
                            <!--<div class="quiz-answers-footer">-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<button type="button"  class="quiz-submit-btn" (click)="listen()">Submit</button>&ndash;&gt;-->

                    <!--&lt;!&ndash;<audio id="player" src="http://localhost:8083//listening//questions//1.mp3"></audio>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<button onclick="document.getElementById('player').play()">Воспроизведение</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;<button onclick="document.getElementById('player').pause()">Пауза</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;<button onclick="document.getElementById('player').volume+=0.1">Громкость +</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;<button onclick="document.getElementById('player').volume-=0.1">Громкость -</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->


                    <!--<audio id="music" preload="true">-->
                        <!--<source src="http://localhost:8083//listening//questions//1.mp3">-->
                        <!--<source src="http://localhost:8083//listening//questions//1.ogg">-->
                    <!--</audio>-->
                    <!--<div id="audioplayer">-->
                        <!--<button id="pButton" class="play" onclick="play()"></button>-->
                        <!--<div id="timeline">-->
                            <!--<div id="playhead"></div>-->
                        <!--</div>-->
                    <!--</div>-->



                <!--</div>-->
            <!--</content>-->
        <!--</div>-->
    <!--</content>-->
<!--</div>-->

<div class="app">
    <content class="content-wrapper">
        <div class="content">

            <header class="quiz-header">
                <a href="#"><i class="medium material-icons" [ngClass]="{playBtn: isPlay}"
                               (click)="playQuestion()">play_circle_outline</i></a>
                <a href="#"><i class="medium material-icons" [ngClass]="{playBtn: !isPlay}"
                               (click)="playQuestion()">pause_circle_outline</i></a>
               <p class="sound-task">{{listeningTask.textTitle}}</p>

            </header>

            <content class="quiz-content-wrapper">
                <div class="quiz-content">
                    <div  class="quiz-question-content-wrapper">
                        <form class="quiz-answers">
                            <!--<audio id="player" src="http://localhost:8083//listening//questions//1.mp3">{{listeningTask.text}}</audio>-->
                            <div class="quiz-answers-footer">

                                <button type="button"  class="quiz-submit-btn" (click)="listen()">Submit</button>

                                <audio id="player" src={{pathAudio}}></audio>
                                <!--<div>-->


                                    <!--<button onclick="document.getElementById('player').play()">Воспроизведение</button> -->

                                    <!--<button onclick="document.getElementById('player').pause()">Пауза</button>-->



                                    <!--<button onclick="document.getElementById('player').volume+=0.1">Громкость +</button>-->
                                    <!--<button onclick="document.getElementById('player').volume-=0.1">Громкость -</button>-->
                                <!--</div>-->


                            </div>
                        </form>
                    </div>
                </div>
            </content>
        </div>
    </content>
</div>