<div class="app">
    <content class="content-wrapper">
        <div class="content">
            <header class="quiz-header">
                <h1 class="quiz-header-title"><strong class="sans"></strong>{{readingTask.textTitle}}</h1>
            </header>
            <content class="quiz-content-wrapper">
                <div class="quiz-content">
                    <!--<div class="quiz-question-num-container">-->
                        <!--<p class="quiz-question-num">{{readingTask.textTitle}}</p>-->
                    <!--</div>-->
                    <div  class="quiz-question-content-wrapper tsY-read-text">
                        <h1 class="sans">
                           {{readingTask.text}}
                        </h1>
                        <form class="quiz-answers">
                            <div class="user-btn">
                                <div class="quiz-answers-footer">
                                    <button type="button" class="quiz-submit-btn waves-effect waves-light" (click)="readTest()">
                                        Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </content>
        </div>
    </content>
</div>