<!--Work-->
<div class="section scrollspy" id="work">
    <div class="container" id="choose">
        <h2 class="header text_b">choose  next  section</h2>
        <div class="row">
            <div class="col s12 m4 l3 offset-l1-5" (click)="speak()">
                <div class="card" [ngClass]="{tsCompletePart: testSingleTon.getSpeakingConst()}">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../../../../img/speaking.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            <a>Speaking</a> </span>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l3" (click)="listening()">
                <div class="card" [ngClass]="{tsCompletePart: testSingleTon.getListeningConst()}">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../../../../img/write.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            <a>Listening</a></span>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3" (click)="reading()">
                <div class="card" [ngClass]="{tsCompletePart: testSingleTon.getReadingConst()}">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../../../../img/reading.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            <a>Reading</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button *ngIf="counter == MAX_PART_COUNTER" class="tsY-button-passed" (click)="postAllTest()"
                    type="button">Send test</button>
        </div>
    </div>
</div>

