<form>
    <!--<div class="play-button"></div>-->
    <div *ngFor="let answer of listeningTask; let i = index" class="app">
        <content class="content-wrapper">
            <div class="content">
                <content class="quiz-content-wrapper">
                    <div class="quiz-content">
                        <div class="quiz-question-content-wrapper">
                            <h1 class="quiz-question-title sans">{{answer.question}}</h1>
                            <div class="quiz-answers">
                                <div class="quiz-answer">
                                    <div class="quiz-answer-pip">
                                        <p class="check-answer">{{answer.answer}}</p>
                                    </div>
                                </div>
                            </div>
                            <input required [(ngModel)]="listeningAnswers[i].cost" id="mark" type="text" class="validate">
                        </div>
                    </div>
                </content>
            </div>
        </content>
    </div>

    <div class="row">
        <div class="col l1 offset-l8-5">
            <button type="button" class="quiz-submit-btn-teacher" (click)="postListening()">Submit</button>
        </div>
    </div>
</form>
