<div class="app">
    <!--<div *ngFor="let question of speakingQuestions" class="app">-->
    <content class="content-wrapper">
        <div class="content">
            <header class="quiz-header">
                <div class="Progress">
                    <progress max="{{size}}" value="{{counter}}" class="Progress-main" aria-labelledby="Progress-id">
                    </progress>
                </div><!--Progress-->
                <h1 class="quiz-header-title"><strong>{{question.title}}</strong></h1>
            </header>
            <content class="quiz-content-wrapper">
                <div  class="quiz-content">
                    <div class="quiz-question-num-container">
                        <p class="quiz-question-num">{{question.description}}</p>
                    </div>
                    <div  class="quiz-question-content-wrapper">
                        <button class="quiz-record-btn waves-effect waves-light"
                                [style.disabled]="isReadyToRecord ? 'true' : 'false'"
                        (click)="startRecording(question.questionId)">
                            <i class="small material-icons">settings_voice</i></button>
                        <form class="quiz-answers">
                            <div class="quiz-answers-footer">
                                <button class="waves-effect waves-light" type="button"  class="quiz-submit-btn" (click)="nextChapter()"
                                        [style.disabled]="testSingleTon.getSpeakingConst() ? 'true' : 'false'">Next question
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </content>
        </div>
    </content>
    <!--</div>-->
</div>