<div id="userstartpage">
    <ts-header-user></ts-header-user>
    <div class="user-home-content">
        <div class="timeleft">
            <div class="row">
                <div class="col s3 m3 l2-5 offset-l2-25 offset-s-1-5 offset-m-1-5">
                    <div class="left-time-days">
                        <p id="leftDays">{{leftDays}}</p>
                        <p class="leftDays">days</p>
                    </div>
                </div>
                <div class="col s3 m3 l2-5">
                    <div class="left-time-days">
                        <p id="leftHours">{{leftHours}}</p>
                        <p class="leftHours">hours</p>
                    </div>
                </div>
                <div class="col s3 m3 l2-5">
                    <div class="left-time-days">
                        <p id="leftMinutes">{{leftMinutes}}</p>
                        <p class="leftMinutes">minutes</p>
                    </div>
                </div>
            </div>
        </div>
            <div class="ts-user-start">
                <button class="waves-effect waves-light" type="button" *ngIf="isActiveTest" (click)="startTest()">
                    <span>Start test</span></button>
                <button class="waves-effect waves-light" type="button" *ngIf="!isActiveTest" (click)="requestTest()">
                    <span>Request test</span></button>
                <button class="waves-effect waves-light" type="button" (click)="statistics()">Statistics</button>
            </div>
        </div>

<ts-footer></ts-footer>
</div>
