<ts-header-user></ts-header-user>
<div id="teacher-notify">

    <div class="container">

        <div class="section scrollspy" id="work">
            <div class="ts-container">
                <div class="container" id="ts-content">
                    <div class="row">
                        <div class="col s12 m7" *ngFor="let msg of testsForCheck" (click)="check(msg)">
                            <div class="card-panel teal tsY-teacher-notify">
                              <span class="white-text">
                                  You have a new test for checking</span>
                                <span class="date-notify">23.07.16</span>
                                <span class="notify-right-arrow">&#10151;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ts-footer></ts-footer>
